PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_nEtA9gi7eIkB@ep-jolly-forest-adeqfg7z-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
PRISMA_CLIENT_ENGINE_TYPE=binary
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin123!
ADMIN_FULL_NAME=System Admin
